html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #ece9ec;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
    20% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
button:hover {
  transform: translateY(-10px);
  transition: 100s;
}